* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    outline: none;
}

.Userform form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.Userform form input[type="text"] {
    font-size: 20px;
    margin: 40px 20px 40px 20px;
    display: inline-block;
    border: none;
    border-bottom: 3px solid rgb(80, 126, 211);
    background: transparent;
    padding: 12px;
    padding-left: 18px;
}

.Userform form input[type="submit"] {
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    background-color: cornflowerblue;
    color: #fff;
    margin: 50px 20px 40px 20px;
    padding: 10px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.Userform form input[type="submit"]:hover {
    background-color: rgb(36, 101, 223);
}

@media screen and (max-width: 420px) {
    .Userform form input[type="submit"] {
        margin-top: 0;
    }
}